:root {
    --primary: #FD7E37;
    --white: #fff;
}


/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/montserrat-v15-latin-1/montserrat-v15-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v15-latin-1/montserrat-v15-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
  
/* montserrat-600 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: local(''),
            url('../fonts/montserrat-v15-latin-1/montserrat-v15-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
            url('../fonts/montserrat-v15-latin-1/montserrat-v15-latin-600.woff2') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
  

  /* montserrat-700 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/montserrat-v15-latin/montserrat-v15-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v15-latin/montserrat-v15-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* raleway-regular - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/raleway-v19-latin-2/raleway-v19-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/raleway-v19-latin-2/raleway-v19-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
  
/* raleway-600 - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('../fonts/raleway-v19-latin-2/raleway-v19-latin-600.woff2') format('woff2'),
         url('../fonts/raleway-v19-latin-2/raleway-v19-latin-600.woff') format('woff');
}

/* raleway-700 - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/raleway-v19-latin-2/raleway-v19-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/raleway-v19-latin-2/raleway-v19-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

h1 {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 2rem;
    text-align: left;
}

.h1-like {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 2rem;
}

@media screen and (min-width: 768px) {
    h1 .h1-like {
        font-size: 3rem;
    }
}

@media screen and (min-width: 1200px) {
    h1 {
        font-size: 4rem;
    }
}

h2 {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
    h2 {
        font-size: 2rem;
    }
}

@media screen and (min-width: 1200px) {
    h2 {
        font-size: 3rem;
    }
}

h3 {
    font-size: 1.5rem;
}

.montserrat {
    font-family: "Montserrat";
}

.montserrat-sm {
    font-family: "Montserrat";
    font-weight: 600;
}

.raleway-sm {
    font-family: "Raleway";
    font-weight: 600;
}

/* Navbar */

nav {
    background-color: var(--primary);
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 3rem;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0.25rem #fff;
}

.navbar-link {
    color: #fff;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 1rem;
}

@media screen and (min-width: 768px) {
    .navbar-link {
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 1200px) {
    .navbar-link {
        font-size: 1.25rem;
    }
}

.navbar-link:hover {
    background-color: #fff;
    color: var(--primary);
    transition: .3s;
}

.navbar-link-active { 
    background-color: #fff;
    color: var(--primary);
}

.navbar-link:focus {
    background-color: #fff;
    color: var(--primary);
    transition: .3s;
}

/* Pagination */

.pagination-item {
    width: 2rem;
    height: 2rem;
    padding: 0;
    font-family: "Montserrat";
    background-color: #fff;
    color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 5px;
}

.pagination-item:hover {
    background-color: var(--primary);
    color: #fff;
    border: 1px solid var(--primary);
    transition: .3s;
}


/* Hero */

.hero {
    background-image: url("../img/hero-bg.jpg");
    background-size: cover;
	background-position: center;
}

.hero .container {
    min-height: 75vh;
}

.hero-container {
    padding: 1rem;
    color: var(--white);
    background-color: rgb(0, 0, 0, 0.5);
}

@media screen and (min-width: 992px) {
    .hero-container {
        max-width: 65%;
    }
}

.btn-main {
    background-color: var(--primary);
    border: none;
    padding: 0.3rem;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 1rem;
    color: var(--white);
}

@media screen and (min-width: 768px) {
    .btn-main {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1200px) {
    .btn-main {
        font-size: 2.5rem;
    }
}

.btn-main:hover {
    background-color: var(--white);
    color: var(--primary);
    stroke: var(--primary);
    transition: .3s;
}

.btn-main:focus {
    background-color: var(--white);
    color: var(--primary);
    stroke: var(--primary);
    transition: .3s;
}

/* News */

.news-card-col {
    max-width: 70%;
}
.card-shadow {
    box-shadow: 0 0 48px #00000029;
}

.card-title {
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 1.2rem;
}

@media screen and (min-width:576px) {
    .card-title {
        font-size: 1.5rem;
    }
}

.card-text {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 1.25rem;
    display: none;
}

@media screen and (min-width:576px) {
    .card-text {
        display:block;
    }
}

.card-link {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 1rem;
}

@media screen and (min-width:576px) {
    .card-link {
        font-size: 1.5rem;
    }
}

.card-svg {
    stroke: #fff;
}

.btn-main:hover .card-svg{
    stroke: var(--primary);
    transition: .3s;
}

.btn-main:focus .card-svg{
    stroke: var(--primary);
    transition: .3s;
}

/* Students */ 

.students {
    background-color: var(--primary);
}

.grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
}

@media screen and (min-width: 768px) {
    .grid  {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1200px) {
    .grid  {
        grid-template-columns: repeat(4, 1fr);
    }
}

.card-student-img {
    width: 14rem;
    height: 14rem;
    object-fit: cover;
    border-radius: 50%;
}

.student-link {
    color: #fff;
}

.student-link:hover {
    color: #333;
    transition: .3s;
}

/* Footer */

footer {
    background-color: var(--primary);
}

.contact {
    font-size: 1.25rem;
}

.legal {
    color: #fff;
}

.legal:hover {
    color: #686868;
    transition: .3s;
}

.footer-svg {
    fill: #fff;
}

.footer-socials:hover .footer-svg{
    fill: #686868;
    transition: .3s;
}


/* Training page */

.training-description {
    font-size: 1rem;
    max-width: 50rem;
}

@media screen and (min-width: 768px) {
    .training-description {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 1200px) {
    .training-description {
        font-size: 1.5rem;
    }
}

.module-title {
    min-height: 40vh;
    background-image: url("../img/html-css@2x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
	background-position: center;
}

.module-description {
    font-family: "Raleway";
    font-weight: 600;
    font-size: 1.5rem;
    max-width: 52.5rem;
}

/* Students page*/

.students-list .student-link {
    color : #333;
}

.students-list .student-link:hover {
    color : var(--primary);
    transition: .3s;
}

.students-list .student-link:last-child {
    color: var(--primary);
}

.students-list .student-link:last-child:hover {
    color: #333;
}

.card-student-profile {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 50%;
}

@media screen and (min-width: 768px) {
    .card-student-profile {
        width: 20rem;
        height: 20rem;
    }
}

@media screen and (min-width: 1200px) {
    .card-student-profile {
        width: 25rem;
        height: 25rem;
    }
}

.student-description {
    font-size: 1.2rem;
}

@media screen and (min-width: 768px) {
    .student-description {
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 1200px) {
    .student-description {
        font-size: 1.5rem;
    }
}